<div class="container py-5">

<h3>Add list</h3>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :picture_url %>
  <%= f.submit "Submit list", class: "btn btn-primary" %>
<% end %>
</div>
